<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of all bids
    </h1>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new bid
    </h2>

    <form action="/insert_bid" method="post">

    <div class="form-group">
        <label for="book_title_box">
          Book title
        </label>

        <input type="text" id="book_title_box" name="book_title_from_query" class="form-control">
      </div>

      <div class="form-group">
      <label for="title_box">
          Book Owner Username
      </label>

      <select>
        <% User.all.each do |name| %>
        <option value="volvo" id="title_box" class="form-control"> <%=name.username %></option>
        <% end %>
      </select name="book_title_from_query" >
      </div>

      <div class="form-group">
        <label for="bidding_amount_box">
          Bidding amount
        </label>
        <input type="text" id="bidding_amount_box" name="bidding_amount_from_query" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create bid
      </button>
    </form>
  </div>
</div>


<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          Book title
        </th>

        <th>
          Image
        </th>

        <th>
          Book owner name
        </th>

        <th>
          Bidding amount
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% my_biddings = Bid.where({ :bidder_id => @current_user.id})%>

      <% my_biddings.each do |bid| %>
      <tr>

        <td>
          <%= bid.book_title %>
        </td>

        <td>
          <img src="<%= Book.where({ :title => bid.book_title}).at(0).image %>" height="230" width="170">
        </td>


        <td>
          <%= bid.book_owner_name %>
        </td>


        <td>
          <%= bid.bidding_amount %>
        </td>


        <td>
          <%= time_ago_in_words(bid.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(bid.updated_at) %> ago
        </td>

        <td>
          <a href="/bids/<%= bid.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
