<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Your bid on <%= @bid.book_title %> 
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/bids" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/delete_bid/<%= @bid.id %>" class="btn btn-block btn-outline-secondary">
          Delete bid
        </a>
      </div>
    </div>

    <dl>

      <dt>
        Bidding amount
      </dt>
      <dd>
        <%= @bid.bidding_amount %>
      </dd>

      <dt>
        Book owner name
      </dt>
      <dd>
        <%= @bid.book_owner_name %>
      </dd>

      <dt>
        Book title
      </dt>
      <dd>
        <%= @bid.book_title %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@bid.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@bid.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit bid
    </h2>

    <form action="/modify_bid/<%= @bid.id %>"  method="post" >
        <label for="bidder_id_box">
        </label>

        <input type="hidden" id="bidder_id_box" value="<%= @current_user.id %>" name="bidder_id_from_query" value="<%= @bid.bidder_id %>">

        <label for="book_id_box">
        </label>

        <input type="hidden" id="book_id_box" value="<%= @bid.book_id %>" name="book_id_from_query"  value="<%= @bid.book_id %>">
      

      <div class="form-group">
        <label for="bidding_amount_box">
          Bidding amount
        </label>

        <input type="text" id="bidding_amount_box" name="bidding_amount_from_query" class="form-control" value="<%= @bid.bidding_amount %>">
      </div>


        <label for="book_owner_name_box">
        </label>

        <input type="hidden" id="book_owner_name_box" name="book_owner_name_from_query" class="form-control" value="<%= @bid.book_owner_name %>">

        <label for="book_title_box">
        </label>

        <input type="hidden" id="book_title_box" name="book_title_from_query" class="form-control" value="<%= @bid.book_title %>">

      <button class="btn btn-block btn-outline-secondary">
        Update bid
      </button>
    </form>
  </div>
</div>

<hr>
