<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of all biddings
    </h1>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new bidding
    </h2>

    <form action="/insert_bidding" method="post">
      <div class="form-group">
        <label for="bidder_id_box">
          Bidder
        </label>

        <input type="text" id="bidder_id_box" name="bidder_id_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="book_id_box">
          Book
        </label>

        <input type="text" id="book_id_box" name="book_id_from_query" class="form-control">
      </div>

      <div class="form-group">
        <label for="bidding_amount_box">
          Bidding amount
        </label>

        <input type="text" id="bidding_amount_box" name="bidding_amount_from_query" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create bidding
      </button>
    </form>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Bidder
        </th>

        <th>
          Book
        </th>

        <th>
          Bidding amount
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @biddings.each do |bidding| %>
      <tr>
        <td>
          <%= bidding.id %>
        </td>

        <td>
          <%= bidding.bidder_id %>
        </td>

        <td>
          <%= bidding.book_id %>
        </td>

        <td>
          <%= bidding.bidding_amount %>
        </td>

        <td>
          <%= time_ago_in_words(bidding.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(bidding.updated_at) %> ago
        </td>

        <td>
          <a href="/biddings/<%= bidding.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
